.row
  .col-md-6.col-md-offset-3
    %h3.text-center.white
      Your Repositories
    %ul.list-unstyled.pagination.repo_list
      - @repos.each do |repo|
        %li
          .panel.panel-body.added-repo.slategrey
            .row
              - if current_user_added_repo(repo.name) && repo.has_issues
                .col-md-10
                  = link_to repo.name, repo_path(repo.name), class: "#{repo.name}-added #{repo.name}-delete-btn btn btn-default btn-large repo-name-button"
                .col-md-2
                  .pull-right
                    = link_to '-', repo_path(repo.name), method: 'delete', class: "#{repo.name}-added #{repo.name}-delete-btn btn btn-default btn-large repo-name-button"
              - else
                - if repo.has_issues
                  .col-md-10
                    = link_to repo.name, create_repo_path(repo.name, repo.has_issues.to_s), method: :create, class: "#{repo.name} btn btn-default btn-large repo-name-button add-repo-button"
                  .col-md-2
                    .pull-right
                      = link_to '+', create_repo_path(repo.name, repo.has_issues.to_s), method: 'create', class: "#{repo.name} btn btn-default btn-large repo-name-button add-repo-button"
                - else
                  .col-md-12
                    = link_to "Click here to turn on Issues for #{repo.name}", activate_repo_issues_path(repo.name), method: :post, class: "#{repo.name} btn btn-default btn-large repo-name-button add-repo-button"
