.row
  .col-md-6.col-md-offset-3
    %h3.text-center.white
      Your Repositories
    %ul.list-unstyled.pagination.repo_list
      - @repos.each do |repo|
        -# TODO: show or hide repos without issues? Turn on? Prompt?
        - next unless repo.has_issues
        %li
          .panel.panel-body.added-repo.slategrey
            .row
              .col-md-10
                = link_to repo.name, repo_path(repo.name), class: "#{repo.name}-added btn btn-default btn-large repo-name-button active add-repo-button"
              - if current_user_added_repo(repo.name)
                .col-md-2
                  .pull-right
                    = link_to '-', repo_path(repo.name), method: 'delete', class: "#{repo.name}-added #{repo.name}-delete-btn btn btn-default btn-large active"
              - else
                .col-md-2
                  .pull-right
                    = link_to '+', repo_path(repo.name), method: 'create', class: "#{repo.name} btn btn-default btn-large repo-name-button add-repo-button"
