.row
  .col-md-6.col-md-offset-3
    %h1.text-center
      Update Issue
    .panel.panel-default
      .panel-body
        -# = form_tag "/repos/rickbacci/test_repo/issues/#{params[:number]", class: "form", id: 'issue-form', method: :patch do
        = form_tag '/repos/rickbacci/test_repo/issues/107634353', class: "form", id: 'issue-form', method: :patch do
          = text_field_tag :title, nil, placeholder: "Title", class: "form-control"
          = text_area_tag :body, nil, rows: 5, placeholder: "User story...", class: "form-control"
          = hidden_field_tag :owner, 'rickbacci'
          = hidden_field_tag :repo, 'test_repo'
          = hidden_field_tag :number, params[:id]
          -# = hidden_field_tag :number, params[:id]
          %button.btn.pull-right.btn-primary.issue-btn{:type => "submit"} Update Issue
