.row
  .col-md-3
    %h2.text-center
      Backlog
  .col-md-3
    %h2.text-center
      Ready
  .col-md-3
    %h2.text-center
      In Progress
  .col-md-3
    %h2.text-center
      completed
.row
  .col-md-3.col
    %ul.backlog.column.sortable.list-unstyled
      - @backlog.each do |issue|
        %li.panel.panel-default.backlog{ data: { owner: current_user.github.user,
          repo: current_user.github.repo,
            number: issue.number } }
          .panel-heading
            %h3.panel-title

              -# - issue_labels = []
              -# - issue.labels.each { |label| issue_labels << label.name }
              =form_tag update_issue_path('rickbacci', 'test_repo', issue.number), class: "update-issue-#{issue.number}", method: :patch do
                =text_field_tag :title, issue.title
                =hidden_field_tag :body, issue.body
                =hidden_field_tag :labels, issue.labels.map { |label| label.name}
            .issue.pull-right
              \##{issue.number}
          .panel-body
            =form_tag update_issue_path('rickbacci', 'test_repo', issue.number), class: "update-issue-#{issue.number}", method: :patch do
              =text_field_tag :title
              -# =text_area_tag :body

              -# = simple_format(issue.body)
          .panel-footer
            .clearfix
              .row
                .col-md-12
                  - issue.labels.each do |label|
                    = link_to "#{label.name}", "#", class: "pull-left btn btn-default btn-xs #{label.name}"
              = link_to 'Edit Issue', edit_issue_path(issue.number), class: 'pull-right btn btn-primary btn-xs'
  .col-md-3.col
    %ul.ready.column.sortable.list-unstyled
      - @ready.each do |issue|
        %li.panel.panel-default.ready{ data: { owner: current_user.github.user,
          repo: current_user.github.repo,
            number: issue.number } }
          .panel-heading
            %h3.panel-title
              = issue.title
              .issue.pull-right
                \##{issue.number}
          .panel-body
            = simple_format(issue.body)
          .panel-footer
            .clearfix
              .row
                .col-md-12
                  - issue.labels.each do |label|
                    = link_to "#{label.name}", "#", class: "pull-left btn btn-default btn-xs #{label.name}"
              = link_to 'Edit Issue', edit_issue_path(issue.number), class: 'pull-right btn btn-primary btn-xs'
  .col-md-3.col
    %ul.in-progress.column.sortable.list-unstyled
      - @in_progress.each do |issue|
        %li.panel.panel-default.in-progress{ data: { owner: current_user.github.user,
          repo: current_user.github.repo,
            number: issue.number } }
          .panel-heading
            %h3.panel-title
              = issue.title
              .issue.pull-right
                \##{issue.number}
          .panel-body
            = simple_format(issue.body)
          .panel-footer
            .clearfix
              .row
                .col-md-12
                  - issue.labels.each do |label|
                    = link_to "#{label.name}", "#", class: "pull-left btn btn-default btn-xs #{label.name}"
              = link_to 'Edit Issue', edit_issue_path(issue.number), class: 'pull-right btn btn-primary btn-xs'
  .col-md-3.col
    %ul.completed.column.sortable.list-unstyled
      - @completed.each do |issue|
        %li.panel.panel-default.completed{ data: { owner: current_user.github.user,
          repo: current_user.github.repo,
            number: issue.number } }
          .panel-heading
            %h3.panel-title
              = issue.title
              .issue.pull-right
                \##{issue.number}
          .panel-body
            = simple_format(issue.body)
          .panel-footer
            .clearfix
              .row
                .col-md-12
                  - issue.labels.each do |label|
                    = link_to "#{label.name}", "#", class: "pull-left btn btn-default btn-xs #{label.name}"
              = link_to 'Edit Issue', edit_issue_path(issue.number), class: 'pull-right btn btn-primary btn-xs'

