.row
  .col-md-6.col-md-offset-3
    %h1.text-center
      New Issue
    .panel.panel-default
      .panel-body
        .well
          = form_tag issues_path, class: "form", id: 'issue-form', method: :post do
            = text_field_tag :title, nil, placeholder: "Title", class: "issue-text-field form-control"
            = text_area_tag :body, nil, rows: 5, placeholder: "User story...", class: "issue-text-area form-control"
            = hidden_field_tag :repo_name, current_repo
            %br
            .row
              .col-md-3.new_issue_timer_radio_buttons
                .form-group
                  %label{:for => "milestone"}
                    Select Milestone:
                    %select#milestone.form-control{ name: 'milestone' }
                      - @milestones.each do |milestone|
                        %option{ id: "milestone-#{milestone.number}", value: "#{milestone.number}" }=milestone.title
                - timer_values.each do |k, v|
                  .radio
                    = radio_button_tag("timer_time", k, set_default_time(k), id: k)
                    = v
              .col-md-9
                - @labels.each do |label|
                  - next if label_data?(label.name)
                  .new_issue_label_box{ class: "checkbox-inline btn btn-xs", style: "background-color:\##{label.color}" }
                    = check_box_tag("creation[labels][]", [label.name], set_default(label), id: label.id, class: "#{label.name}")
                    = label.name
            .clearfix
              %button.btn.pull-right.btn-primary{:type => "submit"} Create Issue
