.row
  .col-md-6.col-md-offset-3
    %h1.text-center
      New Issue
    .panel.panel-default
      .panel-body
        .well
          = form_tag issues_path, class: "form", id: 'issue-form', method: :post do
            = text_field_tag :title, nil, placeholder: "Title", class: "issue-text-field form-control"
            = text_area_tag :body, nil, rows: 5, placeholder: "User story...", class: "issue-text-area form-control"
            = hidden_field_tag :repo_name, current_repo
            %br
            .row.form-group
              .col-md-4
                %strong
                  Select Labels:
                - @labels.each do |label|
                  %label{ class: "#{label.name} btn btn-default new-issue-labels", style: "background-color:\##{label.color}" }
                    = check_box_tag "creation[labels][]", [label.name]
                    = label.name
              .col-md-4
                %label{:for => "milestone"}
                  Select Milestone:
                  %select#milestone.form-control{ name: 'milestone' }
                    - @milestones.each do |milestone|
                      %option{ id: "milestone-#{milestone.number}", value: "#{milestone.number}" }=milestone.title
              .col-md-4
                %label{:for => "timer_time"}
                  Select Timer:
                  %select#timer_time.form-control{ name: 'timer_time' }
                    - timer_values.each do |k, v|
                      %option{ id: "#{k}", selected: "#{set_default_time(k)}", value: "#{k}" }=v
            .clearfix
              %button.btn.btn-primary.pull-right{:type => "submit"} Create Issue
