.dropdown.pull-right
  %button{ class: "dropdown-btn btn btn-xs btn-default dropdown-toggle",
           id:    "dropdown-#{issue_number}",
           'aria-expanded': "true",
           'aria-haspopup': "true",
           'data-toggle': "dropdown", type: "button" }
    %span
      = convert_time(get_time(issue_labels))
    %span.caret
  .dropdown-menu.issue-timer-dropdown-menu{"aria-labelledby" => "dropdown-#{issue_number}" }
    = form_tag update_issue_times_path(issue_number, time), class: "well form" ,method: :post do
      .timer-box-dropdown
        = render partial: 'shared/timer_radio_buttons', locals: { time: time }
      %button.btn.pull-right.btn-default.btn-xs.update-timer-btn{:type => "submit"} Update Time
