#dropdown-repos-menu.list-group.dropdown-menu{"aria-labelledby" => "dLabel"}
  - repos.each do |repo|
    - if current_user_added_repo(repo.name) && repo.has_issues
      .list-group-item.row
        .col-xs-10
          = link_to repo.name, repo_path(repo.name), class: "#{repo.name}-added btn btn-default repo-btn focus"
        .col-xs-2
          = link_to '-', repo_path(repo.name), method: 'delete', class: "pull-right #{repo.name}-added #{repo.name}-delete-btn btn btn-default focus repo-choice"
    - else
      - if repo.has_issues
        .list-group-item.row
          .col-xs-10
            = link_to repo.name, create_repo_path(repo.name, repo.has_issues.to_s), method: :post, class: "#{repo.name} btn btn-default repo-btn"
          .col-xs-2
            = link_to '+', create_repo_path(repo.name, repo.has_issues.to_s), method: 'post', class: "pull-right #{repo.name}-add-btn btn btn-default repo-choice"
      - else
        .list-group-item.row
          .col-xs-10
            = link_to repo.name, activate_repo_issues_path(repo.name), method: :post, class: "#{repo.name}add-btn btn btn-default repo-btn disabled"
          .col-xs-2
            = link_to '+', activate_repo_issues_path(repo.name), method: 'post', class: "pull-right #{repo.name}-add-btn btn btn-default repo-choice", :rel => "tooltip", :title => "Activate Issues"
