= text_area_tag :title, issue.title, { rows: 1, class: "form-control noscrollbars ctrl-enter title-#{issue.number}", :onkeyup => "autoGrow(this);"}
= text_area_tag :body, issue.body, { rows: 5, class: "form-control noscrollbars ctrl-enter body-#{issue.number}", :onkeyup => "autoGrow(this);"}
= hidden_field_tag :labels, issue.labels.map { |label| label.name}

:javascript
  function autoGrow (oField) {
    if (oField.scrollHeight > oField.clientHeight) {
      oField.style.height = oField.scrollHeight + "px";
    }
  };
