.row
  .col-md-6.col-md-offset-3
    %h3.text-center
      Your Repositories
    %ul.list-unstyled.pagination.project_list
      - @repos.each do |repo|
        %li
          - if added_to_projects(repo.name)
            .panel.panel-body.added-project
              .pull-left
                = repo.name
              .pull-right
                = link_to '-', project_path(repo.name), method: :delete, class: 'btn btn-default btn-small minus-button'
          -else
            .panel.panel-body
              .pull-left
                = repo.name
              .pull-right
                = link_to '+', {controller: "projects", action: "create", name: repo.name }, method: :post, class: 'btn btn-default btn-small'


%nav
  %ul.pager
    %li
      = link_to "previous", @repos.links.prev
    %li
      = link_to "Next",  @repos.links.next


