.row
  .col-md-12
    .timer-box.center-block
      .timer-graphic
.row.no-gutters
  - statuses.each do |status|
    .col-md-3.col.border-gutters.column-border
      %h2.text-center
        = status
      %ul{ class: "column sortable list-unstyled", data: { columnstatus: status } }
        - @issues.each do |issue|
          - next if different?(issue, status)
          %li{ class: "panel panel-default card-panel cards",
               data: { owner:  @project.user.nickname.downcase,
                       repo:   @project.name,
                       number: issue.number,
                       currentcardstatus: status,
                       timer: convert_time(get_time(issue.labels)),
                       timer_seconds: get_time(issue.labels) } }
            .panel-heading
              %h3.panel-title.pull-right
                \##{issue.number}
              %h3.panel-title.text-left
                = milestone_or_project_name(issue)
            .panel-body.issue-card-body
              .issue-card-dropdowns
                = render partial: 'shared/dropdown_label_form',
                  locals: { project: @project, labels: @labels, issue_number: issue.number, issue_labels: issue.labels }
                = render partial: 'shared/dropdown_timer_form',
                  locals: { issue_number: issue.number, issue_labels: issue.labels, time: get_time(issue.labels) }
              .well
                = render partial: 'shared/issue_form', locals: { project: @project, issue: issue }
              .clearfix
                = render partial: 'shared/issue_labels', locals: { issue_labels: issue.labels }

