.row
  .col-md-12
    .timer-box.center-block
      .timer-graphic
.row.no-gutters
  - statuses.each do |status|
    .col-md-3.col.border-gutters.column-border

      %h2.text-center
        = status.titlecase
      %ul{ class: "#{status} column sortable list-unstyled",
      data: { columnstatus: status } }
        - @issues.each do |issue|
          - next if different?(issue, status, current_user)
          %li{ class: "card-panel panel cards panel-default #{status}",
               data: { owner:  @project.user.nickname.downcase,
                       repo:   @project.name,
                       number: issue.number,
                       currentcardstatus: status,
                       timer: convert_time(get_time(issue.labels)),
                       timer_seconds: get_time(issue.labels) } }
            .panel-heading
              .issue
                %h3.panel-title.pull-right
                  \##{issue.number}
                %h3.panel-title.text-left
                  = issue.milestone.title if issue.milestone
                  = current_user.current_project unless issue.milestone
            -# .panel-body.card
            .panel-body
              .clearfix
                .dropdown.pull-left.issue_label_checkboxes
                  %button{ class: "dropdown-btn btn btn-xs btn-default dropdown-toggle",
                           id:    "dropdown-#{issue.number}",
                           'aria-expanded': "true",
                           'aria-haspopup': "true",
                           'data-toggle': "dropdown", type: "button" }
                    %span
                    Labels
                    %span.caret
                  = render partial:    'shared/dropdown_label_form',
                            collection: @labels,
                            locals:     { project:      @project,
                                          issue_number: issue.number,
                                          issue_labels: issue.labels }

                .dropdown.pull-right
                  %button{ class: "dropdown-btn btn btn-xs btn-default dropdown-toggle",
                           id:    "dropdown-#{issue.number}",
                           'aria-expanded': "true",
                           'aria-haspopup': "true",
                           'data-toggle': "dropdown", type: "button" }
                    %span
                      = convert_time(get_time(issue.labels))
                    %span.caret
                  = render partial: 'shared/dropdown_timer_form',
                    locals: { issue_number: issue.number,
                              timer_time: get_time(issue.labels) }
              %div{ class: "issue-#{issue.number} well card" }
                =render partial: 'shared/issue_form',
                        locals:  { project: @project, issue: issue }
              .label-display.clearfix
                = render partial: 'shared/issue_labels',
                         locals:  { issue_labels: issue.labels }

