.row.no-gutters
  -['backlog', 'ready', 'in-progress', 'completed'].each do |status|
    .col-md-3.col.border-gutters
      %h2.text-center
        = status.titlecase
      %ul{ class: "#{status} column sortable list-unstyled"}
        - @issues.each do |issue|
          - next if issue.repository.name != current_user.current_project
          - next unless issue.labels.any? { |label| label.name == status }
          %li{ class: "panel cards panel-default #{status}", data: { owner: @project.user.nickname, repo: @project.name, number: issue.number } }
            .panel-heading
              .issue
                %h3.panel-title.pull-right
                  \##{issue.number}
                %h3.panel-title.text-left
                  = issue.milestone.title if issue.milestone
                  = current_user.current_project unless issue.milestone
            .panel-body.card
              .well.card
                =form_tag update_issue_path(@project.user.nickname, @project.name, issue.number),
                  class: "form", id: "issue-form-#{issue.number}", method: :patch do
                  = text_area_tag :title, issue.title, { rows: 1, class: "form-control noscrollbars ctrl-enter", :onkeyup => "autoGrow(this);"}
                  = text_area_tag :body, issue.body, { rows: 5, class: "form-control noscrollbars ctrl-enter", :onkeyup => "autoGrow(this);"}
                  = hidden_field_tag :labels, issue.labels.map { |label| label.name}
                  = hidden_field_tag :project_id, @project.id
                  %label{ :for => issue.number }
                  %button.btn.pull-right.btn-default.btn-xs.issue-btn{:type => "submit"} Update

              .clearfix
                - issue.labels.map do |label|
                  %div{ class: "btn btn-xs", style: "background-color:\##{label.color};margin-top:10px" }
                    = label.name
              .clearfix
                .dropup
                  %button.dropup-btn.btn.btn-xs.btn-default.dropdown-toggle{ "id" => "dropup-#{issue.number}", "aria-expanded" => "true", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                    Labels
                    %span.caret
                  .dropdown-menu.issue-dropup-menu{"aria-labelledby" => "dropup-#{issue.number}" }
                    = form_tag update_issue_labels_path(@project.user.nickname, @project.name, issue.number),
                      class: "form", id: "issue-popup-form-#{issue.number}", method: :post do
                      - @labels.each do |label|
                        .box{ class: "checkbox btn btn-xs", style: "background-color:\##{label.color}" }
                          = check_box_tag "updates[labels][]", [label.name], has_label?(issue.labels, label.name), id: label.id, class: 'checkbox'
                          = label.name
                          %label{ :for => issue.number }
                      %button.btn.pull-right.btn-default.btn-xs.label-btn{:type => "submit"} Update

