!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Ontarget
    = stylesheet_link_tag    'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    = render 'shared/navbar'
    .container-fluid
      - flash.each do |name, msg|
        = content_tag :div, msg, class: "text-center alert alert-#{name}", role: "alert"
      = yield
      %script{:src => "https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"}
      -# %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.4.3/jquery.timeago.min.js "}
      -# %script{:src => "jquery.min.js", :type => "text/javascript"}
